doctype html
html
    head
        title !{markdownTitle}
        link(rel="stylesheet", href="/static/style.css")
    body
        // Converted markdown is inserted into the page here.
        div !{markdownHtml}
