doctype html
html
    head
        title= title + ' : Transgender_Surgeries [ARCHIVE]'
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/static/style.css')
    body
        a(id='top')
        block insert
        footer
            div(class='content')
                div(class='aligned')
                    div
                        div Content updated:
                        div Mar 02 2025
                    div
                        if remoteRoute
                            a(href=`https://www.reddit.com${remoteRoute}`, title='View this page on Reddit')
                                img(src='https://www.redditstatic.com/desktop2x/img/favicon/favicon-32x32.png', alt='reddit icon')
                        if isCustomRedirect
                            a(href='.', title='Using archive links (click to disabled)')
                                img(src='/static/archive.svg', alt='archive icon')
                        else
                            a(href='?custom-redirect', title='Using raw links (click to enable archive links)')
                                img(src='/static/archive-line-art.svg', alt='archive line art icon')
                        a(href='#top', title='Top')
                            img(src='/static/top.svg', alt='up arrows icon')
                        a(href=`/${isCustomRedirect ? '?custom-redirect' : ''}`, title='Root index')
                            img(src='/static/home.svg', alt='home icon')
                        a(href='https://www.reddit.com/r/Transgender_Surgeries/', title='Subreddit home')
                            img(src='/static/subreddit.svg', alt='sub reddit icon')
                        a(href='https://github.com/zp100/Transgender_Surgeries/tree/main', title='Source code')
                            img(src='https://github.githubassets.com/favicons/favicon-dark.svg', alt='git hub icon')
