html {
    background-color: black;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: anywhere;
}

body {
    width: 100%;
    margin: 0;
    background-color: #111;
}

footer {
    width: 100%;
    background-color: black;

    a * {
        width: 32px;
        height: 32px;
        padding: 4px;
    }
}

a {
    color: #99e;
}

.markdown :not(.internal) > a {
    /* Copied from Wikipedia. */
    background-image: url(https://en.wikipedia.org/w/skins/Vector/resources/skins.vector.styles/images/link-external-small-ltr-progressive.svg?fb64d);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 0.5em;
    padding-right: 0.5em;
}

.content {
    width: auto;
    max-width: 60em;
    margin: 0 auto;
    padding: 1em;
}

.aligned {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
