body {
    width: auto;
    max-width: 60em;
    margin: 0 auto;
    padding: 2em;
    background-color: #111;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #88e;
}

:not(.internal) > a {
    /* Copied from Wikipedia. */
    background-image: url(https://en.wikipedia.org/w/skins/Vector/resources/skins.vector.styles/images/link-external-small-ltr-progressive.svg?fb64d);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 0.857em;
    padding-right: 1em;
}
